In [ ]:
#GROUP BY OPERATIONS
# A groupby operation call allows us to examine data on a per category basis.
# f ex average per group or per category
#it ll aggregate a continuous value per category - w non continuous columns and have distinct categories (not continuous numeric ones)
#they dont always need to be strings - can also be numericals
#when we've chosen the column we want to group by, we call the group by function
#THIS GROUP BY FUNCTION HAS TO BE COMBINED W AN AGGREGATE FUNCTION CALL!!!
#itll separate the columns by the categories, and then aggregates them depending on the function you entered (average, medium, sum, count,...)

#So note that in pandas, calling just groupby by itself creates what's known as a lazy groupby object because it's waiting still to be evaluated by an aggregate method call.
# --> always needs a aggregate function

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('mpg.csv')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [9]:
#how performance has changed throughout the years -- see mpg through years
#takes knowledge of the df to know which column is categorical and which continuous
#here i choose mpg as column i wanna group by ('categorical column')
#i can use unique function to the unique values of the df:
df['model_year'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [11]:
#or value counts to see how many rows i have of each unique value
df['model_year'].value_counts()
#its kind of a very fast group by

model_year
73    40
78    36
76    34
82    31
75    30
70    29
79    29
80    29
81    29
71    28
72    28
77    28
74    27
Name: count, dtype: int64

In [49]:
df.groupby('model_year').count()['mpg']
#if i leave it as only groupby, it wont do anaything cos itll be waiting for the aggregate function to tell him what to do
#MOST COMMON ONES: 
#mean(): Compute mean of groups
#sum(): Compute sum of group values
#size(): Compute group sizes
#count(): Compute count of group
#std(): Standard deviation of groups
#var(): Compute variance of groups
#sem(): Standard error of the mean of groups
#describe(): Generates descriptive statistics
#first(): Compute first of group values
#last(): Compute last of group values
#nth() : Take nth value, or a subset if n is a list
#min(): Compute min of group values
#max(): Compute max of group values

#So what it's going to do is it's going to grab the column you want, it's going to groupby that particular category, set that as the index, and then it takes in the aggregate of what it can do.
#to call just one i put it btw[]

model_year
70    29
71    28
72    28
73    40
74    27
75    30
76    34
77    28
78    36
79    29
80    29
81    29
82    31
Name: mpg, dtype: int64

In [67]:
#TO GROUP BY MULTIPLE COLUMNS - MULTILEVEL OR HIERARCHY INDEX:
#i pass it a list of the columns - itll first group by the fisrt one and btw the ones that are the ame, itll use the next and the next
df.groupby(['model_year', 'cylinders']).count()
# so now modelyear and cylinders are not columns names, they are indexes - can see by putting at the end '.columns' - wont say those two
#this way i can compare btw cylinders  btw years

                      mpg  displacement  horsepower  weight  acceleration  \
model_year cylinders
70         4            7             7           7       7             7
           6            4             4           4       4             4
           8           18            18          18      18            18
71         4           13            13          13      13            13
           6            8             8           8       8             8
           8            7             7           7       7             7
72         3            1             1           1       1             1
           4           14            14          14      14            14
           8           13            13          13      13            13
73         3            1             1           1       1             1
           4           11            11          11      11            11
           6            8             8           8       8             8
           8           20            20          20      20            20
74         4           15            15          15      15            15
           6            7             7           7       7             7
           8            5             5           5       5             5
75         4           12            12          12      12            12
           6           12            12          12      12            12
           8            6             6           6       6             6
76         4           15            15          15      15            15
           6           10            10          10      10            10
           8            9             9           9       9             9
77         3            1             1           1       1             1
           4           14            14          14      14            14
           6            5             5           5       5             5
           8            8             8           8       8             8
78         4           17            17          17      17            17
           5            1             1           1       1             1
           6           12            12          12      12            12
           8            6             6           6       6             6
79         4           12            12          12      12            12
           5            1             1           1       1             1
           6            6             6           6       6             6
           8           10            10          10      10            10
80         3            1             1           1       1             1
           4           25            25          25      25            25
           5            1             1           1       1             1
           6            2             2           2       2             2
81         4           21            21          21      21            21
           6            7             7           7       7             7
           8            1             1           1       1             1
82         4           28            28          28      28            28
           6            3             3           3       3             3

                      origin  name
model_year cylinders
70         4               7     7
           6               4     4
           8              18    18
71         4              13    13
           6               8     8
           8               7     7
72         3               1     1
           4              14    14
           8              13    13
73         3               1     1
           4              11    11
           6               8     8
           8              20    20
74         4              15    15
           6               7     7
           8               5     5
75         4              12    12
           6              12    12
           8               6     6
76         4              15    15
           6              10    10
           8               9     9
77         3               1     1
           4              14    14
           6               5     5
           8               8     8
78         4              17    17
           5               1     1
           6              12    12
           8               6     6
79         4              12    12
           5               1     1
           6               6     6
           8              10    10
80         3               1     1
           4              25    25
           5               1     1
           6               2     2
81         4              21    21
           6               7     7
           8               1     1
82         4              28    28
           6               3     3

In [71]:
df.groupby(['model_year', 'cylinders']).describe().transpose()
#shows aggregations possible for a single column - to grab simple statistical analysis of df

model_year                   70                                     71  \
cylinders                     4            6            8            4
mpg          count     7.000000     4.000000    18.000000    13.000000
             mean     25.285714    20.500000    14.111111    27.461538
             std       1.112697     1.732051     2.609685     3.502746
             min      24.000000    18.000000     9.000000    22.000000
             25%      24.500000    20.250000    14.000000    25.000000
             50%      25.000000    21.000000    14.500000    27.000000
             75%      26.000000    21.250000    15.000000    30.000000
             max      27.000000    22.000000    18.000000    35.000000
displacement count     7.000000     4.000000    18.000000    13.000000
             mean    107.000000   199.000000   367.555556   101.846154
             std       8.660254     0.816497    59.076443    23.053728
             min      97.000000   198.000000   302.000000    71.000000
             25%     100.500000   198.750000   309.750000    88.000000
             50%     107.000000   199.000000   355.000000    97.000000
             75%     111.500000   199.250000   421.750000   116.000000
             max     121.000000   200.000000   455.000000   140.000000
weight       count     7.000000     4.000000    18.000000    13.000000
             mean   2292.571429  2710.500000  3940.055556  2056.384615
             std     263.055037   112.837641   496.964488   217.933300
             min    1835.000000  2587.000000  3086.000000  1613.000000
             25%    2182.000000  2632.750000  3518.750000  1955.000000
             50%    2372.000000  2711.000000  3805.500000  2074.000000
             75%    2402.500000  2788.750000  4370.500000  2220.000000
             max    2672.000000  2833.000000  4732.000000  2408.000000
acceleration count     7.000000     4.000000    18.000000    13.000000
             mean     16.000000    15.500000    11.194444    16.961538
             std       2.661453     0.408248     2.668657     2.536907
             min      12.500000    15.000000     8.000000    14.000000
             25%      14.500000    15.375000     9.625000    14.500000
             50%      15.000000    15.500000    10.250000    18.000000
             75%      17.500000    15.625000    12.000000    19.000000
             max      20.500000    16.000000    18.500000    20.500000
origin       count     7.000000     4.000000    18.000000    13.000000
             mean      2.285714     1.000000     1.000000     1.923077
             std       0.487950     0.000000     0.000000     0.862316
             min       2.000000     1.000000     1.000000     1.000000
             25%       2.000000     1.000000     1.000000     1.000000
             50%       2.000000     1.000000     1.000000     2.000000
             75%       2.500000     1.000000     1.000000     3.000000
             max       3.000000     1.000000     1.000000     3.000000

model_year                                        72               \
cylinders                     6            8       3            4
mpg          count     8.000000     7.000000     1.0    14.000000
             mean     18.000000    13.428571    19.0    23.428571
             std       1.069045     0.786796     NaN     3.056249
             min      16.000000    12.000000    19.0    18.000000
             25%      17.750000    13.000000    19.0    21.250000
             50%      18.000000    14.000000    19.0    23.000000
             75%      19.000000    14.000000    19.0    25.750000
             max      19.000000    14.000000    19.0    28.000000
displacement count     8.000000     7.000000     1.0    14.000000
             mean    243.375000   371.714286    70.0   111.535714
             std      11.867573    32.438220     NaN    14.167221
             min     225.000000   318.000000    70.0    96.000000
             25%     232.000000   350.500000    70.0    97.125000
             50%     250.000000   383.000000    70.0   116.500000
             75%     250.000000   400.000000    70.0   121.000000
             max     258.000000   400.000000    70.0   140.000000
weight       count     8.000000     7.000000     1.0    14.000000
             mean   3171.875000  4537.714286  2330.0  2382.642857
             std     259.952434   415.550524     NaN   274.992477
             min    2634.000000  4096.000000  2330.0  2100.000000
             25%    3094.750000  4181.500000  2330.0  2198.250000
             50%    3285.000000  4464.000000  2330.0  2283.000000
             75%    3308.750000  4850.500000  2330.0  2481.500000
             max    3439.000000  5140.000000  2330.0  2979.000000
acceleration count     8.000000     7.000000     1.0    14.000000
             mean     14.750000    12.214286    13.5    17.214286
             std       1.000000     0.755929     NaN     2.423557
             min      13.000000    11.500000    13.5    14.500000
             25%      14.250000    11.750000    13.5    15.625000
             50%      15.250000    12.000000    13.5    16.750000
             75%      15.500000    12.500000    13.5    18.000000
             max      15.500000    13.500000    13.5    23.500000
origin       count     8.000000     7.000000     1.0    14.000000
             mean      1.000000     1.000000     3.0     1.928571
             std       0.000000     0.000000     NaN     0.828742
             min       1.000000     1.000000     3.0     1.000000
             25%       1.000000     1.000000     3.0     1.000000
             50%       1.000000     1.000000     3.0     2.000000
             75%       1.000000     1.000000     3.0     2.750000
             max       1.000000     1.000000     3.0     3.000000

model_year                           73  ...           79      80  \
cylinders                     8       3  ...            8       3
mpg          count    13.000000     1.0  ...    10.000000     1.0
             mean     13.615385    18.0  ...    18.630000    23.7
             std       1.502135     NaN  ...     2.757636     NaN
             min      11.000000    18.0  ...    15.500000    23.7
             25%      13.000000    18.0  ...    16.925000    23.7
             50%      13.000000    18.0  ...    17.900000    23.7
             75%      14.000000    18.0  ...    19.025000    23.7
             max      17.000000    18.0  ...    23.900000    23.7
displacement count    13.000000     1.0  ...    10.000000     1.0
             mean    344.846154    70.0  ...   321.400000    70.0
             std      42.160104     NaN  ...    36.914917     NaN
             min     302.000000    70.0  ...   260.000000    70.0
             25%     307.000000    70.0  ...   302.750000    70.0
             50%     350.000000    70.0  ...   334.000000    70.0
             75%     351.000000    70.0  ...   350.750000    70.0
             max     429.000000    70.0  ...   360.000000    70.0
weight       count    13.000000     1.0  ...    10.000000     1.0
             mean   4228.384615  2124.0  ...  3862.900000  2420.0
             std     264.578765     NaN  ...   254.455170     NaN
             min    3672.000000  2124.0  ...  3420.000000  2420.0
             25%    4098.000000  2124.0  ...  3751.250000  2420.0
             50%    4274.000000  2124.0  ...  3870.000000  2420.0
             75%    4422.000000  2124.0  ...  3951.250000  2420.0
             max    4633.000000  2124.0  ...  4360.000000  2420.0
acceleration count    13.000000     1.0  ...    10.000000     1.0
             mean     13.000000    13.5  ...    15.400000    12.5
             std       1.307032     NaN  ...     2.718251     NaN
             min      11.000000    13.5  ...    13.000000    12.5
             25%      12.000000    13.5  ...    13.625000    12.5
             50%      13.000000    13.5  ...    14.950000    12.5
             75%      13.500000    13.5  ...    15.350000    12.5
             max      16.000000    13.5  ...    22.200000    12.5
origin       count    13.000000     1.0  ...    10.000000     1.0
             mean      1.000000     3.0  ...     1.000000     3.0
             std       0.000000     NaN  ...     0.000000     NaN
             min       1.000000     3.0  ...     1.000000     3.0
             25%       1.000000     3.0  ...     1.000000     3.0
             50%       1.000000     3.0  ...     1.000000     3.0
             75%       1.000000     3.0  ...     1.000000     3.0
             max       1.000000     3.0  ...     1.000000     3.0

model_year                                                     81  \
cylinders                     4       5            6            4
mpg          count    25.000000     1.0     2.000000    21.000000
             mean     34.612000    36.4    25.900000    32.814286
             std       6.597621     NaN     9.616652     3.844904
             min      23.600000    36.4    19.100000    25.800000
             25%      29.800000    36.4    22.500000    30.000000
             50%      33.800000    36.4    25.900000    33.000000
             75%      40.800000    36.4    29.300000    34.700000
             max      46.600000    36.4    32.700000    39.100000
displacement count    25.000000     1.0     2.000000    21.000000
             mean    111.000000   121.0   196.500000   108.857143
             std      24.608603     NaN    40.305087    23.007142
             min      85.000000   121.0   168.000000    79.000000
             25%      90.000000   121.0   182.250000    91.000000
             50%      98.000000   121.0   196.500000   105.000000
             75%     134.000000   121.0   210.750000   120.000000
             max     156.000000   121.0   225.000000   156.000000
weight       count    25.000000     1.0     2.000000    21.000000
             mean   2360.080000  2950.0  3145.500000  2275.476190
             std     392.902333     NaN   333.047294   354.629753
             min    1835.000000  2950.0  2910.000000  1755.000000
             25%    2110.000000  2950.0  3027.750000  2045.000000
             50%    2265.000000  2950.0  3145.500000  2215.000000
             75%    2678.000000  2950.0  3263.250000  2490.000000
             max    3250.000000  2950.0  3381.000000  3230.000000
acceleration count    25.000000     1.0     2.000000    21.000000
             mean     17.144000    19.9    15.050000    16.466667
             std       2.585388     NaN     5.161880     2.015275
             min      13.800000    19.9    11.400000    12.900000
             25%      15.200000    19.9    13.225000    14.900000
             50%      16.500000    19.9    15.050000    16.200000
             75%      18.100000    19.9    16.875000    17.300000
             max      23.700000    19.9    18.700000    20.700000
origin       count    25.000000     1.0     2.000000    21.000000
             mean      2.200000     2.0     2.000000     2.095238
             std       0.816497     NaN     1.414214     0.943650
             min       1.000000     2.0     1.000000     1.000000
             25%       2.000000     2.0     1.500000     1.000000
             50%       2.000000     2.0     2.000000     2.000000
             75%       3.000000     2.0     2.500000     3.000000
             max       3.000000     2.0     3.000000     3.000000

model_year                                        82
cylinders                     6       8            4            6
mpg          count     7.000000     1.0    28.000000     3.000000
             mean     23.428571    26.6    32.071429    28.333333
             std       4.139531     NaN     5.054727     8.504901
             min      17.600000    26.6    23.000000    22.000000
             25%      21.300000    26.6    27.750000    23.500000
             50%      23.500000    26.6    32.000000    25.000000
             75%      24.800000    26.6    36.000000    31.500000
             max      30.700000    26.6    44.000000    38.000000
displacement count     7.000000     1.0    28.000000     3.000000
             mean    184.000000   350.0   118.571429   225.000000
             std      35.327043     NaN    21.439715    40.951190
             min     145.000000   350.0    91.000000   181.000000
             25%     157.000000   350.0   103.250000   206.500000
             50%     173.000000   350.0   112.000000   232.000000
             75%     212.500000   350.0   136.250000   247.000000
             max     231.000000   350.0   156.000000   262.000000
weight       count     7.000000     1.0    28.000000     3.000000
             mean   3093.571429  3725.0  2402.321429  2931.666667
             std     272.911987     NaN   332.756396    90.737717
             min    2725.000000  3725.0  1965.000000  2835.000000
             25%    2915.000000  3725.0  2125.000000  2890.000000
             50%    3060.000000  3725.0  2382.500000  2945.000000
             75%    3287.500000  3725.0  2646.250000  2980.000000
             max    3465.000000  3725.0  3035.000000  3015.000000
acceleration count     7.000000     1.0    28.000000     3.000000
             mean     15.442857    19.0    16.703571    16.033333
             std       2.593490     NaN     2.590364     1.193035
             min      12.600000    19.0    11.600000    14.700000
             25%      13.200000    19.0    14.925000    15.550000
             50%      15.800000    19.0    16.300000    16.400000
             75%      16.850000    19.0    18.050000    16.700000
             max      19.600000    19.0    24.600000    17.000000
origin       count     7.000000     1.0    28.000000     3.000000
             mean      1.714286     1.0     1.714286     1.000000
             std       0.951190     NaN     0.937180     0.000000
             min       1.000000     1.0     1.000000     1.000000
             25%       1.000000     1.0     1.000000     1.000000
             50%       1.000000     1.0     1.000000     1.000000
             75%       2.500000     1.0     3.000000     1.000000
             max       3.000000     1.0     3.000000     1.000000

[40 rows x 43 columns]

In [55]:
df.groupby(['model_year', 'cylinders']).count().index
#it returns a multiindex as touples

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

In [77]:
#HOW TO GRAB THINGS IN A MULTI-INDEX
year_cyl = df.groupby(['model_year','cylinders']).count()
year_cyl

                      mpg  displacement  horsepower  weight  acceleration  \
model_year cylinders
70         4            7             7           7       7             7
           6            4             4           4       4             4
           8           18            18          18      18            18
71         4           13            13          13      13            13
           6            8             8           8       8             8
           8            7             7           7       7             7
72         3            1             1           1       1             1
           4           14            14          14      14            14
           8           13            13          13      13            13
73         3            1             1           1       1             1
           4           11            11          11      11            11
           6            8             8           8       8             8
           8           20            20          20      20            20
74         4           15            15          15      15            15
           6            7             7           7       7             7
           8            5             5           5       5             5
75         4           12            12          12      12            12
           6           12            12          12      12            12
           8            6             6           6       6             6
76         4           15            15          15      15            15
           6           10            10          10      10            10
           8            9             9           9       9             9
77         3            1             1           1       1             1
           4           14            14          14      14            14
           6            5             5           5       5             5
           8            8             8           8       8             8
78         4           17            17          17      17            17
           5            1             1           1       1             1
           6           12            12          12      12            12
           8            6             6           6       6             6
79         4           12            12          12      12            12
           5            1             1           1       1             1
           6            6             6           6       6             6
           8           10            10          10      10            10
80         3            1             1           1       1             1
           4           25            25          25      25            25
           5            1             1           1       1             1
           6            2             2           2       2             2
81         4           21            21          21      21            21
           6            7             7           7       7             7
           8            1             1           1       1             1
82         4           28            28          28      28            28
           6            3             3           3       3             3

                      origin  name
model_year cylinders
70         4               7     7
           6               4     4
           8              18    18
71         4              13    13
           6               8     8
           8               7     7
72         3               1     1
           4              14    14
           8              13    13
73         3               1     1
           4              11    11
           6               8     8
           8              20    20
74         4              15    15
           6               7     7
           8               5     5
75         4              12    12
           6              12    12
           8               6     6
76         4              15    15
           6              10    10
           8               9     9
77         3               1     1
           4              14    14
           6               5     5
           8               8     8
78         4              17    17
           5               1     1
           6              12    12
           8               6     6
79         4              12    12
           5               1     1
           6               6     6
           8              10    10
80         3               1     1
           4              25    25
           5               1     1
           6               2     2
81         4              21    21
           6               7     7
           8               1     1
82         4              28    28
           6               3     3

In [81]:
#can call indexes names:
year_cyl.index.names

FrozenList(['model_year', 'cylinders'])

In [87]:
year_cyl.index.levels
#its a list of lists (MultiD)
#first one the years and second possible cylinders (keep in mind not every cylinder is present for every value)

FrozenList([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], [3, 4, 5, 6, 8]])

In [93]:
#TO GRAB BY THE OUTSIDE INDEX:
#can grab by that outside index using .loc
year_cyl.loc[70]
#will work on the most outside index
#drops the index name column

           mpg  displacement  horsepower  weight  acceleration  origin  name
cylinders
4            7             7           7       7             7       7     7
6            4             4           4       4             4       4     4
8           18            18          18      18            18      18    18

In [95]:
year_cyl.loc[[70,82]]
#if i ask for two (passing it a list) itll put the indexes names in order to distinguis

                      mpg  displacement  horsepower  weight  acceleration  \
model_year cylinders
70         4            7             7           7       7             7
           6            4             4           4       4             4
           8           18            18          18      18            18
82         4           28            28          28      28            28
           6            3             3           3       3             3

                      origin  name
model_year cylinders
70         4               7     7
           6               4     4
           8              18    18
82         4              28    28
           6               3     3

In [97]:
#TO GRAB A PARTICULAR ROW:
year_cyl.loc[(70,4)]
#gotta pass it the touple

mpg             7
displacement    7
horsepower      7
weight          7
acceleration    7
origin          7
name            7
Name: (70, 4), dtype: int64