In [ ]:
#USSING CROSS SECTION - grabbing smth that has this multiplevel index --> using .xs()
#Takes in a key, index (to look at rows '0' cos we have our multi index in rows), and level (what level of index youre looking at (inner or outter in this case))

In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('mpg.csv')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [17]:
year_cyl = df.groupby(['model_year', 'cylinders']).count()
year_cyl

                      mpg  displacement  horsepower  weight  acceleration  \
model_year cylinders
70         4            7             7           7       7             7
           6            4             4           4       4             4
           8           18            18          18      18            18
71         4           13            13          13      13            13
           6            8             8           8       8             8
           8            7             7           7       7             7
72         3            1             1           1       1             1
           4           14            14          14      14            14
           8           13            13          13      13            13
73         3            1             1           1       1             1
           4           11            11          11      11            11
           6            8             8           8       8             8
           8           20            20          20      20            20
74         4           15            15          15      15            15
           6            7             7           7       7             7
           8            5             5           5       5             5
75         4           12            12          12      12            12
           6           12            12          12      12            12
           8            6             6           6       6             6
76         4           15            15          15      15            15
           6           10            10          10      10            10
           8            9             9           9       9             9
77         3            1             1           1       1             1
           4           14            14          14      14            14
           6            5             5           5       5             5
           8            8             8           8       8             8
78         4           17            17          17      17            17
           5            1             1           1       1             1
           6           12            12          12      12            12
           8            6             6           6       6             6
79         4           12            12          12      12            12
           5            1             1           1       1             1
           6            6             6           6       6             6
           8           10            10          10      10            10
80         3            1             1           1       1             1
           4           25            25          25      25            25
           5            1             1           1       1             1
           6            2             2           2       2             2
81         4           21            21          21      21            21
           6            7             7           7       7             7
           8            1             1           1       1             1
82         4           28            28          28      28            28
           6            3             3           3       3             3

                      origin  name
model_year cylinders
70         4               7     7
           6               4     4
           8              18    18
71         4              13    13
           6               8     8
           8               7     7
72         3               1     1
           4              14    14
           8              13    13
73         3               1     1
           4              11    11
           6               8     8
           8              20    20
74         4              15    15
           6               7     7
           8               5     5
75         4              12    12
           6              12    12
           8               6     6
76         4              15    15
           6              10    10
           8               9     9
77         3               1     1
           4              14    14
           6               5     5
           8               8     8
78         4              17    17
           5               1     1
           6              12    12
           8               6     6
79         4              12    12
           5               1     1
           6               6     6
           8              10    10
80         3               1     1
           4              25    25
           5               1     1
           6               2     2
81         4              21    21
           6               7     7
           8               1     1
82         4              28    28
           6               3     3

In [21]:
#to grab all from 1970
year_cyl.xs(key=70,level='model_year')
#'level' is like at what level im looking at 
#keep in mind it'll only take one key value!

           mpg  displacement  horsepower  weight  acceleration  origin  name
cylinders
4            7             7           7       7             7       7     7
6            4             4           4       4             4       4     4
8           18            18          18      18            18      18    18

In [23]:
#to take based on inner index:
year_cyl.xs(key=4,level='cylinders')
#i take 4 cyls for every single year

#keep in mind the level i ask for wont appear in the answer cos they are all from the same year or cylinders f ex
#so best to put in variables name what it is cos it wont tell in the answer (output)

            mpg  displacement  horsepower  weight  acceleration  origin  name
model_year
70            7             7           7       7             7       7     7
71           13            13          13      13            13      13    13
72           14            14          14      14            14      14    14
73           11            11          11      11            11      11    11
74           15            15          15      15            15      15    15
75           12            12          12      12            12      12    12
76           15            15          15      15            15      15    15
77           14            14          14      14            14      14    14
78           17            17          17      17            17      17    17
79           12            12          12      12            12      12    12
80           25            25          25      25            25      25    25
81           21            21          21      21            21      21    21
82           28            28          28      28            28      28    28

In [15]:
#if you want from two keys:
#as you cannot put more that one key --> better to filter those values im interested in BEFORE the group by 
dff = df[df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).count()
dff
# so 1Âº i choose only the 6 and 8s in the df (filter out df first)
#2Âº i group it as i want

                      mpg  displacement  horsepower  weight  acceleration  \
model_year cylinders
70         6            4             4           4       4             4
           8           18            18          18      18            18
71         6            8             8           8       8             8
           8            7             7           7       7             7
72         8           13            13          13      13            13
73         6            8             8           8       8             8
           8           20            20          20      20            20
74         6            7             7           7       7             7
           8            5             5           5       5             5
75         6           12            12          12      12            12
           8            6             6           6       6             6
76         6           10            10          10      10            10
           8            9             9           9       9             9
77         6            5             5           5       5             5
           8            8             8           8       8             8
78         6           12            12          12      12            12
           8            6             6           6       6             6
79         6            6             6           6       6             6
           8           10            10          10      10            10
80         6            2             2           2       2             2
81         6            7             7           7       7             7
           8            1             1           1       1             1
82         6            3             3           3       3             3

                      origin  name
model_year cylinders
70         6               4     4
           8              18    18
71         6               8     8
           8               7     7
72         8              13    13
73         6               8     8
           8              20    20
74         6               7     7
           8               5     5
75         6              12    12
           8               6     6
76         6              10    10
           8               9     9
77         6               5     5
           8               8     8
78         6              12    12
           8               6     6
79         6               6     6
           8              10    10
80         6               2     2
81         6               7     7
           8               1     1
82         6               3     3

In [21]:
dff

                      mpg  displacement  horsepower  weight  acceleration  \
model_year cylinders
70         6            4             4           4       4             4
           8           18            18          18      18            18
71         6            8             8           8       8             8
           8            7             7           7       7             7
72         8           13            13          13      13            13
73         6            8             8           8       8             8
           8           20            20          20      20            20
74         6            7             7           7       7             7
           8            5             5           5       5             5
75         6           12            12          12      12            12
           8            6             6           6       6             6
76         6           10            10          10      10            10
           8            9             9           9       9             9
77         6            5             5           5       5             5
           8            8             8           8       8             8
78         6           12            12          12      12            12
           8            6             6           6       6             6
79         6            6             6           6       6             6
           8           10            10          10      10            10
80         6            2             2           2       2             2
81         6            7             7           7       7             7
           8            1             1           1       1             1
82         6            3             3           3       3             3

                      origin  name
model_year cylinders
70         6               4     4
           8              18    18
71         6               8     8
           8               7     7
72         8              13    13
73         6               8     8
           8              20    20
74         6               7     7
           8               5     5
75         6              12    12
           8               6     6
76         6              10    10
           8               9     9
77         6               5     5
           8               8     8
78         6              12    12
           8               6     6
79         6               6     6
           8              10    10
80         6               2     2
81         6               7     7
           8               1     1
82         6               3     3

In [25]:
#TO SWAP THE MULTIINDEX
dff.swaplevel()

                      mpg  displacement  horsepower  weight  acceleration  \
cylinders model_year
6         70            4             4           4       4             4
8         70           18            18          18      18            18
6         71            8             8           8       8             8
8         71            7             7           7       7             7
          72           13            13          13      13            13
6         73            8             8           8       8             8
8         73           20            20          20      20            20
6         74            7             7           7       7             7
8         74            5             5           5       5             5
6         75           12            12          12      12            12
8         75            6             6           6       6             6
6         76           10            10          10      10            10
8         76            9             9           9       9             9
6         77            5             5           5       5             5
8         77            8             8           8       8             8
6         78           12            12          12      12            12
8         78            6             6           6       6             6
6         79            6             6           6       6             6
8         79           10            10          10      10            10
6         80            2             2           2       2             2
          81            7             7           7       7             7
8         81            1             1           1       1             1
6         82            3             3           3       3             3

                      origin  name
cylinders model_year
6         70               4     4
8         70              18    18
6         71               8     8
8         71               7     7
          72              13    13
6         73               8     8
8         73              20    20
6         74               7     7
8         74               5     5
6         75              12    12
8         75               6     6
6         76              10    10
8         76               9     9
6         77               5     5
8         77               8     8
6         78              12    12
8         78               6     6
6         79               6     6
8         79              10    10
6         80               2     2
          81               7     7
8         81               1     1
6         82               3     3

In [37]:
#TO SORT THE MULTIINDEX
dff.sort_index(level='model_year',ascending=False)
#same as before but i specify the level i wanna sort

                      mpg  displacement  horsepower  weight  acceleration  \
model_year cylinders
82         6            3             3           3       3             3
81         8            1             1           1       1             1
           6            7             7           7       7             7
80         6            2             2           2       2             2
79         8           10            10          10      10            10
           6            6             6           6       6             6
78         8            6             6           6       6             6
           6           12            12          12      12            12
77         8            8             8           8       8             8
           6            5             5           5       5             5
76         8            9             9           9       9             9
           6           10            10          10      10            10
75         8            6             6           6       6             6
           6           12            12          12      12            12
74         8            5             5           5       5             5
           6            7             7           7       7             7
73         8           20            20          20      20            20
           6            8             8           8       8             8
72         8           13            13          13      13            13
71         8            7             7           7       7             7
           6            8             8           8       8             8
70         8           18            18          18      18            18
           6            4             4           4       4             4

                      origin  name
model_year cylinders
82         6               3     3
81         8               1     1
           6               7     7
80         6               2     2
79         8              10    10
           6               6     6
78         8               6     6
           6              12    12
77         8               8     8
           6               5     5
76         8               9     9
           6              10    10
75         8               6     6
           6              12    12
74         8               5     5
           6               7     7
73         8              20    20
           6               8     8
72         8              13    13
71         8               7     7
           6               8     8
70         8              18    18
           6               4     4

In [41]:
#keep in mind that if i sort the inner one differently maybe ill "break" the outter and make it more confussing
dff.sort_index(level='cylinders', ascending=False)
#so it makes more sense to sort by the outter level

,,mpg,displacement,horsepower,weight,acceleration,origin,name
model_year,cylinders,,,,,,,
81,8,1,1,1,1,1,1,1
79,8,10,10,10,10,10,10,10
78,8,6,6,6,6,6,6,6
77,8,8,8,8,8,8,8,8
76,8,9,9,9,9,9,9,9
75,8,6,6,6,6,6,6,6
74,8,5,5,5,5,5,5,5
73,8,20,20,20,20,20,20,20
72,8,13,13,13,13,13,13,13
71,8,7,7,7,7,7,7,7
70,8,18,18,18,18,18,18,18
82,6,3,3,3,3,3,3,3
81,6,7,7,7,7,7,7,7
80,6,2,2,2,2,2,2,2
79,6,6,6,6,6,6,6,6
78,6,12,12,12,12,12,12,12
77,6,5,5,5,5,5,5,5
76,6,10,10,10,10,10,10,10
75,6,12,12,12,12,12,12,12
74,6,7,7,7,7,7,7,7
73,6,8,8,8,8,8,8,8
71,6,8,8,8,8,8,8,8
70,6,4,4,4,4,4,4,4

In [61]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [75]:
df['cylinders'].transform(pd.to_numeric, errors = 'coerce')
df['displacement'].transform(pd.to_numeric, errors = 'coerce')
df['horsepower'].transform(pd.to_numeric, errors = 'coerce')
df['weight'].transform(pd.to_numeric, errors = 'coerce')
df['acceleration'].transform(pd.to_numeric, errors = 'coerce')
df['mpg'].transform(pd.to_numeric, errors = 'coerce')

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [83]:
df['mpg'].dtype

dtype('float64')

In [91]:
df['mpg'].std()

7.815984312565782

In [93]:
#CUSTOMIZE AGGREGATE FUNCTIONS PER CATHEGORY - to not make same aggregate function in every single column
# i specify the aggregate function for every column
df.agg(['std','mean'])['mpg']
#takes in a list of string calls
#SHOULD WORK

TypeError: could not convert string to float: '?'

In [115]:
#APPLY PARTICULAR AGGREGATION METHODS TO PARTICULAR COLUMNS
#or to apply certain aggregate functions to specific columns - i use the form of a dictionary
#the key is the column i wanna apply it in and the value is the aggregate function i wanna apply (can pass more than one)
dfff = df.agg({'mpg':['max','mean'], 'weight':['mean','min','std']})
dfff
#keep in mid itll fill in w NaN the values you didnt call

            mpg       weight
max   46.600000          NaN
mean  23.514573  2970.424623
min         NaN  1613.000000
std         NaN   846.841774

In [117]:
dfff['weight'] = dfff['weight'].fillna(dfff['weight'].max())
dfff

            mpg       weight
max   46.600000  2970.424623
mean  23.514573  2970.424623
min         NaN  1613.000000
std         NaN   846.841774